/* static/css/edit_modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.modal-content label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: 600;
}

.modal-content input[type="time"],
.modal-content select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn, .register-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #f2f2f2;
    color: #333;
}

.register-btn {
    background-color: #ff5c5c;
    color: #fff;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#editTimeModal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Убедитесь, что окно выше других элементов */
    width: 400px; /* Задайте подходящую ширину */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
