.employee-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px; /* Adds spacing between cards */

    border-bottom: 1px solid #ddd;
    position: relative;
}

.ellipsis-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10px;
}

.modal-action-btn {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #FC8C86;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-action-btn:hover {
    background-color: #ff1a1a;
}
