/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    height: 100vh;
}

/* Container for sidebar and content */
.admin-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar styling */
.sidebar {
    width: 84px; /* Уменьшенная ширина */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo inside the sidebar */
.logo img {
    width: 50px;
    display: block;
    margin: 0 auto 20px;
}

/* Sidebar navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.logout {
    margin-top: auto;
}

.logout a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}

/* Main content styling */
.content {
    margin-left: 84px; /* Adjust to sidebar width */
    padding: 20px;
    background-color: #f4f4f9;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
}

/* Company info section */
.company-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход */

}

.company-details {
    display: flex;
    align-items: center;
}

.company-details img {
    width: 60px;
    margin-right: 20px;
}

.edit-profile-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Employees section */
.employees-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters-container {
    display: flex;
    gap: 10px;
}

.filters {
    display: flex;
    gap: 10px;
}

/* Общий стиль для всех кнопок */
button {
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: transparent; /* Основной цвет */

    transition: background-color 0.3s ease;
}

.filter-btn {
    background-color: #FC8C86; /* Основной цвет */
    color: white;
    border: none;              /* Убираем границы */
    padding: 10px 15px;       /* Добавляем отступы для кнопок */
    cursor: pointer;           /* Курсор при наведении */
    border-radius: 12px;       /* Скругляем углы */
    transition: background-color 0.3s; /* Плавный переход */
}

.filter-btn:hover {
    background-color: #E67A74; /* Цвет кнопки при наведении */
}

/* Employee list */
.employee-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступы между карточками */

}

/* Employee card styling */
.employee-card {
    display: flex;
    justify-content: space-between; /* Равномерное распределение */
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
}
.employee-card:hover {
    transform: scale(1.01); /* Увеличение карточки до 105% */
    box-shadow: 0px 6px 15px 4px rgba(0, 0, 0, 0.1); /* Увеличенная тень при наведении */
}
/* Employee info styles */
.employee-info {
    display: flex;
    flex-grow: 1; /* Занять оставшееся пространство */
    gap: 20px; /* Отступы между элементами в строке */
}

/* Устанавливаем ширину для каждого поля */
.employee-name,
.employee-position,
.employee-phone,
.employee-nie,
.employee-email {
    min-width: 180px; /* Увеличена ширина для выравнивания */
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Employee action buttons */
.employee-actions {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
}

/* Action buttons styles */
.edit-btn,
.delete-btn {
    background-color: #FC8C86; /* Цвет фона для кнопок */
    color: white; /* Цвет текста */
    border: none; /* Убираем границы */
    padding: 5px 10px; /* Отступы внутри кнопок */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 8px; /* Скругление углов */
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #E67A74; /* Темнее цвет при наведении */
}

/* Modal styles for adding/editing employees */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}

.modal-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* Form input styles */
.modal-content label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="date"],
.modal-content input[type="number"],
.modal-content select {
    width: 100%;
    padding: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Button styles inside modal */
.modal-content .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-content .cancel-btn {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.modal-content .save-btn {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .employee-card {
        flex-direction: column; /* Stack the content on smaller screens */
    }
}
.new-employee-btn {
    background-color: #FDBD38; /* Основной цвет для кнопки */
    color: #fff;               /* Белый цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Плавный переход при наведении */
}

.new-employee-btn:hover {
    background-color: #E6A933; /* Чуть более тёмный оттенок при наведении */
}

h2.section-title {
    margin-bottom: 20px;
    font-size: 12px;

}
.employee-section {
    display: block; /* Видимость по умолчанию */
}
.employee-section.hidden {
    display: none; /* Скрываем, если добавлен класс hidden */
}
/* Родительский контейнер, который должен центрировать содержимое */
.centered-block {
    display: flex;
    justify-content: center; /* Горизонтальная центровка */
    align-items: center; /* Вертикальная центровка */
    height: 100%; /* Растягиваем блок на всю высоту */
    width: 100%; /* Растягиваем блок на всю ширину */
}

/* Адаптивное изображение */
.centered-block img {
    max-width: 100%; /* Ограничение изображения, чтобы оно не выходило за границы */
    height: auto; /* Сохраняем пропорции */
}
/* Уникальные стили для кнопки экспорта Excel */
.export-excel-btn {
    background-color: #FC8C86; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Блочный элемент */
    font-size: 16px; /* Размер текста */
    margin: 10px 2px; /* Внешние отступы */
    cursor: pointer; /* Указатель курсора */
    border-radius: 5px; /* Округленные углы */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
}

.export-excel-btn:hover {
    background-color: #45a049; /* Цвет при наведении */
}
