/* Стили для модального окна */

.action-modal1 {
    display: none; /* Скрыто по умолчанию */
    position: absolute; /* Модальное окно должно быть абсолютным */
    background-color: white !important; /* Белый фон с приоритетом */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) !important; /* Тень с приоритетом */
    padding: 10px !important;
    border-radius: 5px !important;
    z-index: 1000 !important; /* Приоритет для уровня наложения */
    opacity: 1 !important; /* Полностью непрозрачное */
    background-color: yellow !important;
    border: 2px solid red;
}


.action-modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.action-modal ul li {
    padding: 8px;
    cursor: pointer;
}

.action-modal ul li:hover {
    background-color: #f2f2f2;
}
