<div id="editTimeModal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Редактировать время</h2>
        <!-- Здесь содержимое модального окна -->
        <label for="editCheckIn">Время начала</label>
        <input type="time" id="editCheckIn" name="editCheckIn">

        <label for="editCheckOut">Время окончания</label>
        <input type="time" id="editCheckOut" name="editCheckOut">

        <div class="form-buttons">
            <button class="cancel-btn" onclick="closeEditModal()">Отмена</button>
            <button class="register-btn" onclick="saveEditedTime()">Сохранить</button>
        </div>
    </div>
</div>
