<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/employee_card.css') }}"> <!-- Include the custom styles here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/export_modal_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editarhead.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-buttons.css') }}">

</head>
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li class="centered-block">
                    <a href="/work">
                        <img src="{{ url_for('static', filename='images/Frame 1321314992.png') }}" alt="Dashboard" style="width: 32px; height: 32px;">
                    </a>
                </li>

                <li class="centered-block">
                    <a href="/dashboard">
                        <img src="{{ url_for('static', filename='images/User Circle-01.png') }}" alt='Dashboard' style="width: 32px; height: 32px;">
                    </a>
                </li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <div class="logout">
            <a href="/logout">Logout</a>
        </div>
    </aside>

    <!-- Main content -->
    <main class="content">
        <!-- Company info -->
        <section class="company-info">
            <div class="company-details">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo" class="company-logo">
                <div>
                    <h1>Corgi Cafe Gotico</h1>
                    <p>Plaza de la Vila de Madrid 4</p>
                    <p>Email: info@corgicafe.es</p>
                    <p>Phone: +34 695 279 140</p>
                </div>
            </div>
            <div class="social-media">
                <p>@corgicafe</p>
                <p>@corgicafe_bcn</p>
                <p>WhatsApp: +34 695 279 140</p>
            </div>
            <button id="edit-profile-btn" class="edit-profile-btn">Editar perfil</button>
        </section>

        <!-- Employee list -->
        <section class="employees">
            <div class="employees-header">
                <h2>Empleados</h2>
                <div class="filters-container">
                    <button class="export-ellipsis-btn" onclick="openExportModal()">Export Exel</button>
                    <button class="filter-btn" id="show-all" onclick="showAllEmployees()">All</button>
                    <button class="filter-btn" id="show-hall" onclick="showSalaEmployees()">Sala</button>
                    <button class="filter-btn" id="show-kitchen" onclick="showCocinaEmployees()">Cocina</button>
                    <button class="new-employee-btn" id="open-modal-btn">+ Nuevo empleado</button>

                </div>
            </div>

            <!-- Динамический заголовок для выбранной секции -->
            <h2 id="section-title"></h2>

            <!-- Контейнеры для сотрудников -->
            <div id="all-employees">
                {% for employee in employees %}
                    <div class="employee-card" data-section="{{ employee.section }}">
                        <p class="employee-name">{{ employee.full_name }}</p>
                        <p class="employee-position">{{ employee.position }}</p>
                        <p class="employee-phone">{{ employee.phone }}</p>
                        <p class="employee-nie">{{ employee.nie }}</p>
                        <p class="employee-working-hours">Working Hours: {{ employee.work_start_time.strftime('%H:%M') }} - {{ employee.work_end_time.strftime('%H:%M') }}</p>
                        <p class="employee-start-date">{{ employee.start_date }}</p>
                        <p class="employee-end-date">{{ employee.end_date }}</p>
                        <p class="employee-email">{{ employee.email }}</p>
                        <button class="ellipsis-btn" data-id="{{ employee.id }}">⋮</button>
                    </div>
                {% endfor %}
            </div>

            <div id="sala-employees" style="display: none;">
                {% for employee in hall_employees %}
                    <div class="employee-card">
                        <p>{{ employee.full_name }}</p>
                        <p>{{ employee.position }}</p>
                        <p>{{ employee.phone }}</p>
                        <p>{{ employee.nie }}</p>
                        <p>Working Hours: {{ employee.work_start_time.strftime('%H:%M') }} - {{ employee.work_end_time.strftime('%H:%M') }}</p>
                        <p>{{ employee.start_date }}</p>
                        <p>{{ employee.end_date }}</p>
                        <p>{{ employee.email }}</p>
                        <button class="ellipsis-btn" data-id="{{ employee.id }}">⋮</button>
                    </div>
                {% endfor %}
            </div>

            <div id="cocina-employees" style="display: none;">
                {% for employee in kitchen_employees %}
                    <div class="employee-card">
                        <p>{{ employee.full_name }}</p>
                        <p>{{ employee.position }}</p>
                        <p>{{ employee.phone }}</p>
                        <p>{{ employee.nie }}</p>
                        <p>Working Hours: {{ employee.work_start_time.strftime('%H:%M') }} - {{ employee.work_end_time.strftime('%H:%M') }}</p>
                        <p>{{ employee.start_date }}</p>
                        <p>{{ employee.end_date }}</p>
                        <p>{{ employee.email }}</p>
                        <button class="ellipsis-btn" data-id="{{ employee.id }}">⋮</button>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <!-- Modal for adding/editing employees -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title">Nuevo empleado</h2>
            <form id="employee-form" action="{{ url_for('add_employee') }}" method="POST">
                <label for="full_name">Nombre completo</label>
                <input type="text" id="full_name" name="full_name" placeholder="Nombre completo" required>

                <label for="nie">NIE</label>
                <input type="text" id="nie" name="nie" placeholder="NIE" required>

                <label for="start_date">Fecha de inicio del contrato</label>
                <input type="date" id="start_date" name="start_date" required>

                <label for="end_date">Fecha de finalización del contrato</label>
                <input type="date" id="end_date" name="end_date">

                <label for="work_start_time">Hora de inicio del trabajo</label>
                <input type="time" id="work_start_time" name="work_start_time">

                <label for="work_end_time">Hora de finalización del trabajo</label>
                <input type="time" id="work_end_time" name="work_end_time">

                <label for="days_per_week">Días por semana</label>
                <input type="number" id="days_per_week" name="days_per_week" placeholder="Type here" required min="1">

                <label for="position">Position</label>
                <select id="position" name="position" required>
                    <option value="Camarero">Camarero</option>
                    <option value="Barman">Barman</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Limpiadora">Limpiadora</option>
                    <option value="Audante de camarero">Audante de camarero</option>
                    <option value="Chef">Chef</option>
                    <option value="Su-Chef">Su-Chef</option>
                    <option value="Cocinero">Cocinero</option>
                    <option value="Audante de cocina">Audante de cocina</option>

                </select>

                <label for="section">Section</label>
                <select id="section" name="section" required>
                    <option value="Cocina">Cocina</option>
                    <option value="Sala">Sala</option>
                </select>

                <label for="phone">Número de teléfono</label>
                <input type="text" id="phone" name="phone" placeholder="Número de teléfono" required>

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>

                <div class="form-buttons">
<!--                    <button type="button" class="cancel-btn">Cancel</button>-->
                    <button type="submit" class="save-btn">Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal for deleting employees -->
    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Eliminar empleado</h2>
            <p id="delete-message"></p>
            <button id="confirm-delete-btn">Confirmar eliminación</button>
            <button class="close">Cancelar</button>
        </div>
    </div>

    {% include 'modal.html' %}
    {% include 'export_modal.html' %}
    {% include 'Editarperfil.html' %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exportwork.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editHead.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/ActionModal.js') }}"></script>-->





</body>
</html>
