<div id="newscheduleModal" class="bulk-schedule-modal">
    <div class="modal-content">
        <span class="bulk-schedule-close" onclick="closeNewScheduleModal()">&times;</span>
        <h2>Editar horario aleatorio</h2>
        <label for="checkInRange">Rango de registro:</label>
        <input type="time" id="checkInStart"> to <input type="time" id="checkInEnd">
        <label for="checkOutRange">Rango de salida:</label>
        <input type="time" id="checkOutStart"> to <input type="time" id="checkOutEnd">
        <button onclick="applyRandomSchedule()">Aleatorio</button>
    </div>
</div>
