<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
</head>
<body>
    <div class="registration-modal-content">
        <h2>Регистрация администратора</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="full_name">Полное имя</label>
            <input type="text" id="full_name" name="full_name" placeholder="Введите полное имя" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Введите email" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>

            <div class="form-buttons">
                <button type="button" class="cancel-btn" onclick="window.location.href = '/';">Отмена</button>
                <button type="submit" class="register-btn">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</body>
</html>
