<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/work.css') }}?v={{ current_time }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_time_modal.css') }}">

    <title>Work Logs</title>
</head>
<body>
    <div class="main-container">
        <!-- Левый блок с логотипом и иконкой -->
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Corgi Cafe Logo">
            </div>
        </aside>

        <!-- Основной контент -->
        <div class="content">
            <header>
                <div class="header-right">
                    <a href="/logout" class="logout-btn">Logout</a>
                </div>
            </header>

            <main class="work-container">
                <h1>Employees</h1>
                <!-- Модальное окно для редактирования -->
<!-- Основной HTML файл -->
                <div id="editTimeModalContainer"></div>
                    {% include 'edit_modal.html' %}


                <!-- Панель фильтров -->
                <div class="filter-bar">
                    <div class="left-section">
                        <div class="dropdown">
                            <button id="filterButton" class="filter-btn" onclick="toggleDropdown('dropdown-menu')">Hoy</button>
                            <div id="dropdown-menu" class="dropdown-menu">
                                <a href="javascript:void(0);" onclick="applyFilter('today', 'Hoy')">Hoy</a>
                                <a href="javascript:void(0);" onclick="applyFilter('yesterday', 'Ayer')">Ayer</a>
                                <a href="javascript:void(0);" onclick="applyFilter('last_7_days','Últimos 7 días')">Últimos 7 días</a>
                                <a href="javascript:void(0);" onclick="applyFilter('last_30_days', 'Últimos 30 días')">Últimos 30 días</a>
                                <a href="javascript:void(0);" onclick="applyFilter('previous_month', 'Mes Anterior')">Mes Anterior</a>
                                <a href="javascript:void(0);" onclick="applyFilter('current_month', 'Este mes')">Este mes</a>
                                <a href="javascript:void(0);" onclick="applyFilter('custom', 'Rango Personalizado')">Rango Personalizado</a>
                            </div>
                        </div>

                        <input type="date" id="datePicker" class="filter-btn" onchange="applyFilterByDate(this.value)">
                        <span id="selectedDateDisplay" style="margin-left: 10px; font-weight: bold; color: grey;"></span>

                        <div class="dropdown">
                            <button class="filter-btn" onclick="toggleDropdown('group-dropdown-menu')">Grupo</button>
                            <div id="group-dropdown-menu" class="dropdown-menu">
                                <a href="#" onclick="applyGroupFilter('All')">All</a>
                                <a href="#" onclick="applyGroupFilter('cocina')">Cocina</a>
                                <a href="#" onclick="applyGroupFilter('sala')">Sala</a>
                            </div>
                            <button class="filter-btn" onclick="resetFilter()">Сбросить фильтр</button>
                        </div>
                    </div>

                    <div class="right-section">
                        <span>Select</span>
                        <button class="dot-icon" onclick="toggleModal()">...</button>

                        <div id="modal" class="modal" style="display: none;">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <ul class="modal-options">
                                    <li><button onclick="selectAllEmployees()">Select All</button></li>
                                    <li><button onclick="getSelectedEmployeeAndOpenEditModal()">Edit</button></li>
                                    <li><button onclick="exportExcel()">Export Excel</button></li>
                                    <button class="edit-schedule-btn" onclick="toggleCheckboxes()">Edit Schedule</button>
                                    <li><button onclick="deleteEmployee()">Delete</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Таблица сотрудников -->
                <div class="work-logs">
                    {% for employee in employees %}
                        <div class="employee-log">
                            <input type="checkbox" class="checkbox-input" id="employee_{{ employee.id }}">
                            <label class="checkbox-label" for="employee_{{ employee.id }}"></label>
                            <h2>{{ employee.full_name }} - {{ employee.position }}</h2>
                            <div class="logs-container">
                                <table class="logs-table">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Entra</th>
                                            <th>Salida</th>
                                            <th>Total</th>
                                            <th>Holidays</th>
                                            <th class="checkbox-header" style="display: none;">Select</th> <!-- Заголовок для чекбоксов -->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for log in employee.work_logs %}
                                            <tr class="log-row-{{ employee.id }}" data-log-id="{{ log.id }}" data-log-date="{{ log.log_date.strftime('%Y-%m-%d') }}">
                                                <td class="log-date">{{ log.log_date.strftime('%Y-%m-%d') }}</td>
                                                <td class="check-in-time" id="check-in-time-{{ log.id }}">{{ log.check_in_time.strftime('%H:%M') if log.check_in_time else '--:--' }}</td>
                                                <td class="check-out-time" id="check-out-time-{{ log.id }}">{{ log.check_out_time.strftime('%H:%M') if log.check_out_time else '--:--' }}</td>
                                                <td id="daily-hours-{{ log.id }}">{{ log.worked_hours | format_hours if log.worked_hours else '0 hours' }}</td>

                                                <td>
                                                    <select id="log-{{ log.id }}" name="holiday_type" onchange="updateHolidayStatus('{{ log.id }}', this.value)">
                                                        <option value="workingday" {% if log.holidays == 'Working day' %} selected {% endif %}>Working day</option>
                                                        <option value="paid" {% if log.holidays == 'Paid' %} selected {% endif %}>Paid</option>
                                                        <option value="unpaid" {% if log.holidays == 'Unpaid' %} selected {% endif %}>Unpaid</option>
                                                        <option value="weekend" {% if log.holidays == 'Weekend' %} selected {% endif %}>Weekend</option>
                                                    </select>
                                                </td>
                                                <td class="checkbox-cell" style="display: none;text-align: center;">
                                                    <input type="checkbox" class="date-checkbox" id="date-checkbox-{{ log.id }}">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="summary-container">
                                    <p>Total Hours: <span id="total-hours-{{ employee.id }}">{{ employee.total_hours | format_hours }}</span></p>
                                    <p>Total Days: <span id="total-days-{{ employee.id }}">{{ employee.total_days }}</span></p>
                                    <p>Overtime: {{ employee.overtime | format_hours }}</p>
                                    <p>Paid Holidays: <span id="paid-holidays-{{ employee.id }}">{{ employee.paid_holidays }}</span></p>
                                    <p>Unpaid Holidays: <span id="unpaid-holidays-{{ employee.id }}">{{ employee.unpaid_holidays }}</span></p>
                                    <button class="select-all-btn" onclick="selectAllEmployeeCheckboxes('{{ employee.id }}')"style="display: none;">Выбрать все</button>

                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/work.js') }}"></script>
    <script>
document.addEventListener('DOMContentLoaded', function() {
    const editScheduleBtn = document.querySelector('.edit-schedule-btn');

    if (editScheduleBtn) {
        editScheduleBtn.addEventListener('click', toggleCheckboxes);
    } else {
        console.error("Кнопка 'Edit Schedule' не найдена.");
    }
});

function toggleCheckboxes() {
    // Проверяем каждый чекбокс сотрудника в правом верхнем углу
    document.querySelectorAll('.checkbox-input').forEach(function(employeeCheckbox) {
        const employeeId = employeeCheckbox.id.split('_')[1];
        const selectAllBtn = document.querySelector(`#employee_${employeeId} ~ .logs-container .select-all-btn`);
        const employeeRowCheckboxes = document.querySelectorAll(`.log-row-${employeeId} .checkbox-cell`);
        const checkboxHeader = document.querySelector(`#employee_${employeeId} ~ .logs-container .checkbox-header`);

        if (employeeCheckbox.checked) {
            // Отображаем чекбоксы для дат и кнопку "Выбрать все" только если сотрудник выбран
            checkboxHeader.style.display = 'table-cell';
            employeeRowCheckboxes.forEach(cell => cell.style.display = 'table-cell');
            selectAllBtn.style.display = 'inline-block';
        } else {
            // Скрываем, если сотрудник не выбран
            checkboxHeader.style.display = 'none';
            employeeRowCheckboxes.forEach(cell => cell.style.display = 'none');
            selectAllBtn.style.display = 'none';
        }
    });
}

function selectAllEmployeeCheckboxes(employeeId) {
    const checkboxes = document.querySelectorAll(`.log-row-${employeeId} .date-checkbox`);
    const selectAllBtn = document.querySelector(`#employee_${employeeId} ~ .logs-container .select-all-btn`);
    const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);

    checkboxes.forEach(checkbox => {
        checkbox.checked = !allChecked;
    });

    // Обновляем текст кнопки
    selectAllBtn.textContent = allChecked ? 'Выбрать все' : 'Снять выделение';
}



    </script>
    <script>
        function applyFilter(filterType) {
            console.log("Применение фильтра:", filterType);

            const today = new Date();
            let startDate, endDate;

            if (filterType === 'today') {
                startDate = today;
                endDate = today;
            } else if (filterType === 'yesterday') {
                startDate = new Date(today);
                startDate.setDate(today.getDate() - 1);
                endDate = startDate;
            } else if (filterType === 'last_7_days') {
                startDate = new Date(today);
                startDate.setDate(today.getDate() - 7);
                endDate = today;
            } else if (filterType === 'last_30_days') {
                startDate = new Date(today);
                startDate.setDate(today.getDate() - 30);
                endDate = today;
            } else if (filterType === 'previous_month') {
                const firstDayOfCurrentMonth = new Date(today.getFullYear(), today.getMonth(), 1);
                endDate = new Date(firstDayOfCurrentMonth);
                endDate.setDate(endDate.getDate() - 1);
                startDate = new Date(endDate.getFullYear(), endDate.getMonth(), 1);
            } else if (filterType === 'current_month') {
                startDate = new Date(today.getFullYear(), today.getMonth(), 1);
                endDate = today;
            }

            const formatDate = (date) => date.toISOString().split('T')[0];

            console.log("Диапазон дат:", formatDate(startDate), "-", formatDate(endDate));

            // Фильтрация данных на основе диапазона дат
            document.querySelectorAll('.employee-log .logs-table tbody tr').forEach(row => {
                    const logDate = row.getAttribute('data-log-date');
                    const logDateObj = new Date(logDate);
                    const isInDateRange = logDateObj >= startDate && logDateObj <= endDate;

                    console.log(`Дата лога: ${logDate}, Входит в диапазон: ${isInDateRange}`);
                    if (isInDateRange) {
                        row.style.display = ''; // Показать строку
                    } else {
                        row.style.display = 'none'; // Скрыть строку
                    }




            });

            document.getElementById('selectedDateDisplay').textContent = `${filterType.replace('_', ' ').toUpperCase()}: ${startDate.toLocaleDateString()} - ${endDate.toLocaleDateString()}`;
        }

        function applyFilterByDate(date) {
            console.log("Выбранная дата для фильтрации:", date);

            document.querySelectorAll('.employee-log .logs-table tbody tr').forEach(row => {
                const logDate = row.getAttribute('data-log-date');
                row.style.display = (logDate === date) ? '' : 'none';
            });
            document.getElementById('selectedDateDisplay').textContent = `Date: ${date}`;
        }

        function resetFilter() {
            document.getElementById("datePicker").value = '';
            document.getElementById("selectedDateDisplay").textContent = '';
            document.querySelectorAll('.employee-log .logs-table tbody tr').forEach(row => {
                row.style.display = '';
            });
        }
    </script>
</body>
</html>
